<div class="col-md-8">
  <h3>Micropost Feed</h3>
  <% if @feed_items.any? %> 
    <ol class="microposts">
      <%= render @feed_items %> 
    </ol>
    <%= will_paginate @feed_items, params: { controller: :static_pages, action: :home } %>
  <% end %>

